body{
	font-family: 'Josefin Sans', sans-serif;
}
/*fixed some work*/
a{
	text-decoration: none !important;
}
.btn:focus {
  box-shadow: none !important;
}
.fixed-header{
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
}
.line1{
	background: wheat;

}
.line{
	background: wheat;
	width: 80%;
	margin-left: 0px;
}
.font-style{
	font-family: 'Montserrat Subrayada', sans-serif;
}
#mybtn{
	display: ;
	position: fixed;
	right: 28px;
	bottom: 20px;
	z-index: 999;
}
.btn:focus{
	box-shadow: none !important;
}
.chat-img{
	position: fixed;
	bottom: 2px;
	right: 80px;
	cursor: pointer;
	z-index: 999;
}
/* fixed social*/
#fixed-social {
   position: fixed;
   top: 40%;
   z-index: 999;
}

#fixed-social a {
   color: #fff;
   display: block;
   height: 40px;
   position: relative;
   text-align: center;
    line-height: 40px;
   width: 40px;
   margin-bottom: 1px;
   z-index: 2;
}
#fixed-social a:hover>span{
  visibility: visible;
  left: 41px;
  opacity: 1;
} 
#fixed-social a span {
  line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}
 .fixed-facebook{
  background-color: #00AAE5;
 }
 .fixed-facebook span{
  background-color: #00AAE5;
 }
 .fixed-twitter{
  background-color: #7D3895;

 }
 .fixed-twitter span{
  background-color: #7D3895;
 }
 .fixed-gplus{
  background-color: #00AF54;

 }
 .fixed-gplus span{
  background-color: #00AF54;
 }
 .fixed-linkedin{
  background-color: #FFC41E;

 }
 .fixed-linkedin span{
  background-color: #FFC41E;
 }
 .fixed-instagrem{
  background-color: #ED2B29;

 }
 .fixed-instagrem span{
  background-color: #ED2B29;
 }
 .fixed-tumblr{
  background-color: #EB1471;

 }
/*end fixed social*/
/*fixd work end*/
/*header*/
.info-head{
	overflow: hidden;
	margin-bottom: -15px;
	padding: 4px;
}
.location-info{
	font-size: 14px;
}
.contract-info{
	font-size: 14px;
}
.contract-info{
	font-size: 14px;
}
.contract-info{
	font-size: 14px;
}
.header{
	background: black;
	height: 64px;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
.drop-bt{
	background: #2B2B2B;
	color: white;
}
.drop-contant{
	width: 200px;
	background: #2B2B2B;
	top: -2px !important;
	padding: 8px;
}
.drop-write{
	color: #F9F9F9;
	font-size: 15px;
}
.cart-bt{
	border-radius: 1px;
	background: #2687B2;
	color: white;
}
.cart-bt:hover{
	background: #009BD8;
}
.close-bt{
	border-radius: 1px;
	background: #2D2D2D;
	color: white;
}
.close-bt:hover{
	background: red;
}
.secound-head{
	overflow: hidden;
}
/*banner*/
.banner{
	background: url(../images/home-img1.jpg);
	overflow: hidden;
	background-size: cover;
	width: 100%;
}
.main-nav{
	margin-left: 90px;
}
.nev-contant{
	font-size: 18px;
	margin-left: 10px;
	font-family: 'IBM Plex Serif', serif;
}
.nev-contant:hover{
	background: black;
	background: #0e0e0e70;
	border-radius: 22%;
}
.post-bt{
	border: 2px solid white;
	background: green;
}
.post-bt:hover{
	background:white;
	color: black !important;
}
.banner-heading{
	font-size: 56px;
	overflow: hidden;
}
.work-rate{
	font-size: 38px;
	font-family: 'Montserrat', sans-serif;
}
.book-bt:hover{
	color: black !important;
}
.select-ctiy{
	height: 140%;
}
/*about area*/

/*service box*/
.zoom{
	overflow: hidden;
}
.zoom img{
    transition:.5s ease;

}
.zoom:hover img{
    transform: scale(1.08);
    transition: .5s ease;

}
.img-shape h5{font-size: 20px}
.img-shape{
	position: absolute;
	background: #00000085;
	top: 50%;
	left: 20px;
	right: 20px;
	transform: translateY(-50%);
	padding: 9px;
}
.service-carosel img{
	height: 400px;
}
.img-write{
	font-family: 'Montserrat', sans-serif;
}
/*how it work*/
.work-banner{
	background: url(../images/home-img1.jpg);
	overflow: hidden;
	width: 100%;
}
.work-system{
	background: #F5F5F5;
	overflow: hidden;
}
.work-img{
	background: none !important;
}
.work-contant img{
	transition: 2s;
}
.work-contant:hover img{
	transition: 2s;
	transform: rotateY(180deg);
}
.bag-up{
	font-size: 20px;
}
.work-contant:hover h5{
	color: #009CDC;
	transition: .8s ease;
}
.step-arrow1{
	position: absolute;
	top: 0;
	left: 80%;
}
/*COMMERCIAL LAUNDRY SERVICE*/
.commercial-contant{
	font-family: 'Roboto', sans-serif;
}
/*OUR COMMERCIAL LAUNDRY CLIENTS INCLUDE*/
ul li{
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #6C757D;
}
.all-icon{
	color: #3E7199;;
}
/*our approch*/

/*AFFORDABLE PRICES*/

/*why choose us*/
.choose{
	overflow: hidden;
}
.choose-icon{
	font-size: 40px;
	color: #5ebb60;
	position: absolute;
	left: -40px;
}
.choose-contant:hover h4{
	color: #5ebb60;
	transition: .5s;
}
/*Customar option*/
.Customar{
	background: url(../images/parallax-img-01.jpg);
	background-attachment: fixed;
	position: relative;
	background-size: cover;
}
.coustomar-say:before{
	position: absolute;
	content: '';
	width: 80px;
	height: 3px;
	border-style: solid;
	top: 42px;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 20px;
}
.Customar-comment{
	font-size: 25px;
	font-family: 'Lora', serif;
}
/*gallery option*/
.gallery{
	background: #E6E6E6;
}
.modal-body{
	padding: 0px !important;
}
.img-overlay:before{
	content: '';
	position: absolute;
	background: #00000033;
	height: 100%;
	width: 92%;
	top: 0;
	opacity: 0;
}
.overlay-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	margin-top: -50px;
}
.gallery-img:hover .img-overlay:before{
	opacity: 1;
}
.gallery-img:hover .overlay-title{
	opacity: 1;
	margin-top: 0px;
	transition: .5s;
}
.modal-content{
	margin-top: 24%;
}
/*gallery option end*/
/*packages*/
.packages{
	background: linear-gradient(rgba(0, 0, 0, 0.34), rgba(40, 38, 42, 0.94)), transparent url(../images/parallax-img-03.jpg) center center/cover no-repeat fixed;
	overflow: hidden;
}
.shape-rate{
	background: #BDBDBD;
	position: absolute;
	top: 24px;
	right: -10px;
	left: -11px;
	padding: 14px;
}
.shape-rate:before{
	position: absolute;
	left: 0;
	bottom: -12px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 12px 0;
	border-color: transparent #a0a0a0 transparent transparent;
}
.shape-rate:after{
	position: absolute;
	right: 0;
	bottom: -12px;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 10px 0 0;
	border-color: #a0a0a0 transparent transparent transparent;
}
.packages-contant{
	position: relative;
}
.packages-contant:hover{
	box-shadow: 0 5px 7px #0404049e;
}
.packages-contant.active{
	box-shadow: 0 5px 7px #0404049e;
}
.old-price{
	position: absolute;
	z-index: 999;
	top: 95px;
	left: 65px;
	font-size: 27px;
}
.discount-tag{
	position: absolute;
	top: 10px;
	right: -6px;
}
.discount{
	position: absolute;
	top: 40px;
	right: 15px;
	z-index: 999;
}
/*footer*/
.footer{
	background: #0098D6;
}
.footer ul li a{
	color: white;
	font-family: 'Do Hyeon', sans-serif;
}
.footer ul li a:hover{
	color: firebrick;
	transition: .5s;
}





/*media query*/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 365px) {
	.location-info{font-size: 21px}
}
@media (max-width: 575.98px) {
	.location-info{font-size: 17px}
	.contract-info h3{font-size: 17px}
	.contract-info h4{font-size: 17px}
	.contract-info h5{font-size: 15px}
	.banner-heading{font-size: 22px}
	.work-rate{font-size: 20px}
	.about-contant h2{font-size: 17px}
	.step-arrow1{display: none;}
	.choose-contant{margin-left: 13%}
	.coustomar-say{font-size: 18px}
	.font-style{font-size: 20px}
	.fixed-social a{display: none;}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.banner-heading{font-size: 22px}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	.location-info{font-size: 17px}
	.contract-info{font-size: 17px}
	.contract-info h4{font-size: 19px}
	.contract-info h5{font-size: 16px}
	.about-contant h2{font-size: 22px}

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.step-arrow1{display: none;}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.step-arrow1{display: none;}
}



/*Order page*/
/*order banner*/
.order-banner{
	background: url(../images/window.jpg);
	background-size: cover;
	width: 100%;
}
.order-title{
	margin-top: 15%; 
}
/*step wisrd*/

/*select area*/
.package{
	background: #fff;
	padding: 20px 0;
	border-right: 1px solid #eee;
	box-shadow: 0 0 36px -8px #8c9a92;
	border-radius: 10px;
	margin-top: 20px;
	min-height: 300px;
}
.package h5{
	color: #34c06f;
	background: #eee;
	padding: 14px 0;
	font-size: 15px;
}
.package h6{
	padding: 10px;
	letter-spacing: 1px;
	line-height: 20px;
	color: #8c9a92;
}
.select-button{
	background-color: #dc930e;
	border: 0;
	color: #fff;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}








/*bok a helping*/
.Book-Helpling{
	background: #F3A312;
}
.work-title{
	margin-top: 15%; 
}
.home-icon{
	border: 2px solid;
	border-radius: 50%;
	color: #fff;
	font-size: 65px;
	height: 150px;
	line-height: 2.3;
	padding: 5px 37px;
	text-align: center;
	transition: all 0.9s ease 0s;
	width: 150px;
	margin-left: 30%;
}
.main_icon:hover .home-icon{
	transform: rotateZ(360deg); 
}
.input-group{
	height: 75px;
}
.input-group input[type=text]{
	font-size: 25px;
}
.input-group button{
	font-size: 25px;
	background-color: rgba(0,0,0,0.2);
}
/*most question area*/
.question{
	background: url(../images/cleaning_area.jpg);
	background-attachment: fixed;
	position: relative;
	background-size: cover;
	overflow: hidden;
}
/**********************/
/*priceing page start*/
.price-banner{
	background: url(../images/window.jpg);
	background-size: cover;
	width: 100%;
}
.crd-header{
	background: #006389 none repeat scroll 0 0;
	font-size: 35px;
}
.tk-header{
	font-size: 20px
}
.some-crd-write{

}
/************/
/*contact page*/
.contact-banner{
	background: url(../images/window.jpg);
	background-size: cover;
	width: 100%;
}
/************/
/*help page*/
.help-banner{
	background: url(../images/window.jpg);
	background-size: cover;
	width: 100%;
}
.coll-heading{
	margin-left: 50%;
}
/***********/
/*sign option*/
.sign-form{
	background: rgba(224, 224, 224, 0.52);
}
/***********/
/*picup and delivery page*/
.stepwizard-step p {
    margin-top: 10px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
